<!DOCTYPE html>
<html>

	<head>
	
	<title>Home</title>
	<meta charset="utf-8" />
	
	<!-- Include bootstrap-->
	
	<meta name = "viewport" content = "width=device-width, initial-scale=1" />
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	</head>
	<body style = "text-align: center" >
		
		<h1> Request Tracker </h1>
		
		<!-- Username, logout button, change password button if required -->
		
		<div class = "container-fluid" >
			<div class = "row" >
				<div class = "col-md-4">
					<h3>My Queues</h3>
					<div style = "overflow:auto; background-color: #999">
						<!-- Queue List for this user -->
						<ul>
							{% for q in qlist %}
								<li>{{ q }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class = "col-md-4">
					<h3>My Tickets</h3>
					<div style = "overflow:auto; background-color: #DDD">
						<!-- ticket list for user -->
						<ul>
							{% for obj in tlist %}
								<li>
									{{ obj }}
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class = "col-md-4">
					<h3>Unresolved Tickets</h3>
					<div style = "overflow:auto; background-color:#999">
						<!-- ticket list for user queues- -->
						<ul>
							{% for obj in tqueues %}
								<li>
									{{ obj }}
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<br/>
		<!-- Create ticket button -->
		<a class = "btn btn-info btn-lg" href = "./makeRequest/" style = "padding:15px" >
			Create a Ticket
		</a>
		<br/><p></p>
	</body>

</html>