<!DOCTYPE html>
<html>

	<head>
	
	<title>Home</title>
	<meta charset="utf-8" />
	
	<!-- Include bootstrap-->
	
	<meta name = "viewport" content = "width=device-width, initial-scale=1" />
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	</head>
	<body style = "text-align:center" >
		<h1> Open a Ticket </h1>
		
		<!-- Main page button -->
		<a class = "btn btn-info" href = "./.." >
			Home Page
		</a>
		
		<form role = "form" id="tkt" action="./../submitRequest/" method="POST">
		{% csrf_token %}
			
			<!-- Ticket subject field -->
			Subject:<br/>
			<input type = "text" name = "subject" />
			
			<!-- Ticket body field-->
			<br/>Detailed Description:<br/>
			<textarea form = "tkt" name = "description" rows = "10" cols = "50" style = "width:80%"></textarea>
			<br/><br/>
			
			<!-- Queue dropdown with available queues -->
			<select name="target">
				{% for q in qlist %}
					<option>
						{{ q }}
					</option>
				{% endfor %}
			</select>
			<br/><br/>
			
			<!-- Create ticket button, action = "submit" -->
			<input type = "submit" class = "btn btn-info" value = "Create Ticket" />
		
		</form>
		<br/><p></p>
		
	</body>

</html>