<!DOCTYPE html>
<head>
	
	<title>Home</title>
	<meta charset="utf-8" />
	
	<!-- Include bootstrap-->	
	<meta name = "viewport" content = "width=device-width, initial-scale=1" />
	
	<link rel = "stylesheet" href="/static/RequestTracker/bootstrap/bootstrap-3.3.4-dist/css/bootstrap.min.css" />
	<script src = "/static/RequestTracker/bootstrap/jquery-2.1.3.min.js" ></script>
	<script src = "/static/RequestTracker/bootstrap/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
	

</head>
<body  style = "text-align: center">
		<h1> {{ ticket.status }} Ticket </h1>
		<br/><h2> {{ ticket.Subject }}</h2><br/>
		<p> Requested by {{ ticket.requester.username }} on {{ ticket.create_date }} </p>
		<br/><p style = "background-color:#CCC" >{{  ticket.Description }}</p><br/>
		<p> Worker:
			{% if ticket.worker == None %}
				<a href = "../../taketicket/{{ ticket.id }}/" >Take this ticket</a>
			{% else %}
				{{ ticket.worker }}
			{% endif %}
		</p>
		<div class = "container-fluid">
			<div class = "row">
				<div class = "col-xs-6">
					<button type = "button" class = "btn btn-info" data-toggle = "modal" data-target = "#statusM" >
						Change Status
					</button><br/>
					{% for u in upd %}
						{{ u.status }} by {{ u.updater }} at {{ u.time }}
						<br/>
					{% endfor %}
				</div>
				<div class = "col-xs-6">
					<button type = "button" class = "btn btn-info" data-toggle = "modal" data-target = "#commentM" >
						Comment
					</button><br/>
					{% for c in cmt %}
						{{ c.commentText }} ~ {{ c.commentor }}
						<br/>
					{% endfor %}
				</div>
			</div>
		</div>
		
		<!-- Update Status Modal -->
		<div id = "statusM" class = "modal fade" role = "dialog">
			<div class = "modal-dialog" >
				<div class = "modal-content" >
					<div class = "modal-header" >
						<h2>Change Ticket Status</h2>
					</div>
					<div class = "modal-body" >
						<form  role = "form" id="stts" action="./../updatestatus/{{ ticket.id }}/" method="POST">
						{% csrf_token %}
							<br/>Status:
							<select name="nstatus">
								<option>open</option>
								<option>assigned</option>
								<option>closed</option>
							</select>
							<input type = "submit" class = "btn btn-info" data-dismiss = "modal" value="Change Status"/>
						</form>
					</div>
				</div>
			</div>
		</div>
	
		
		<!--Comment Modal -->
		<div id = "commentM" class = "modal fade" role = "dialog">
			<div class = "modal-dialog" >
				<div class = "modal-content" >
					<div class = "modal-header" >
						<h2>Comment:</h2>
					</div>
					<div class = "modal-body" >
						<form role = "form" id="cmnt" action="./../addcomment/{{ ticket.id }}/" method="POST">
						{% csrf_token %}
							<input type = "text" name = "ncomment" />
							<input type = "submit" class = "btn btn-info" data-dismiss = "modal" value="Submit Comment"/>
						</form>
					</div>
				</div>
			</div>
		</div>
	
		
</body>